# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
env/
venv/
ENV/
.venv/
.env/

# Unit test / coverage reports
.coverage
*.cover
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Local env files
.env
